<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="LibraryDatabase" 
         connectionString="Server=DELL-TRA;Database=LIBRARY_MANAGER;User ID=SA;Password=trabn1712003;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>
